* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

@import url('http://fonts.cdnfonts.com/css/val-2');

body {
    background-color: rgb(28, 28, 28);
}
button{
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #ABFF00;
    border-radius: 0.6em;
    color: #ABFF00;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;    
}

button:focus{
    outline: 0;
}

button:hover{
    outline: 0;
}

#startButton {
    border-color: #ABFF00;
    color: #fff;
    box-shadow: 0 0 40px 40px #aaff0053 inset, 0 0 0 0 #aaff0053;
    transition: all 150ms ease-in-out;
    margin: auto;
}

#startButton:hover{
    box-shadow: 0 0 10px 0 #ABFF00 inset, 0 0 10px 4px #ABFF00;    
}

#startButton:active {
    position: relative;
    top: 1px;
}

.titles {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.titles>.title,
.title2 {
    margin: auto;
}

.title {
    font-size: 100px;
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.title2 {
    font-size: 40px;
    color: white;
}

.tablero {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#grilla {
    margin: auto;
    margin-top: 20px;
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . .";
    grid-gap: 2rem;
    justify-items: center;
}

.cuadrado {
    width:  6rem;
    height: 6rem;
    background-color: #aaff0053;
    border-radius: 10%;
    transition: all 0.1s;  
    -webkit-box-shadow: 5px 6px 14px 1px rgba(0,0,0,0.78); 
box-shadow: 5px 6px 14px 1px rgba(0,0,0,0.78);  
}

.cuadrado:hover {
    transition: all 0.1s;
    background-color: #ABFF00;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;  
}

.cuadradoOn {
    width:  6rem;
    height: 6rem;
    transition: all 0.1s;
    background-color: #ABFF00;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;    
}

.cuadradoError {
    width:  100px;
    height: 100px;
    transition: all 0.1s;
    background-color: #ff0000;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #2d0602 0 -1px 9px, #ff0000 0 2px 12px;    
}

#difficulty{
    width: 40%;
    margin: auto;
    border-radius: 0.6em;
    background-color: black;
    color: white;
    text-align: center;
    border-color: inherit;    
}

.counter-inside{
  background-color:rgba(89, 255, 0);
  width:250px;
  height: 250px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#counter{
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;  
}

.inputData{
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

#playerInfo{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    right: 100px;
    top: 200px;
    height: 170px;
    box-shadow: 0 0 10px 0 #ABFF00 inset, 0 0 10px 4px #ABFF00;    
    color: white;
    font-size: 2rem;
}

label{
    display: flex;
    margin-left: 10px;
}

#playerName{
    border-radius: 0.6em;
    background-color: black;
    color: white;
    text-align: center;
    border-color: inherit;
}

#playerFormButton{
    border-radius: 0.6em;
    width: 40%;
}

#playerForm{
    display: flex;
}

@media screen and (max-width: 1350px) {
    #playerInfo{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 17%;
        right: 100px;
        top: 200px;
        height: 170px;
        box-shadow: 0 0 10px 0 #ABFF00 inset, 0 0 10px 4px #ABFF00;    
        color: white;
        font-size: 1.5rem;
    }

    #grilla {
        margin: auto;
        margin-top: 20px;
        display: grid;
        width: 70%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            ". . . ."
            ". . . ."
            ". . . ."
            ". . . .";
        grid-gap: 2rem;
        justify-items: center;
    }
    
    .cuadrado {
        width:  4.5rem;
        height: 4.5rem;
        background-color: #aaff0053;
        border-radius: 10%;
        transition: all 0.1s;  
        -webkit-box-shadow: 5px 6px 14px 1px rgba(0,0,0,0.78); 
        box-shadow: 5px 6px 14px 1px rgba(0,0,0,0.78);  
    }
    
    .cuadrado:hover {
        transition: all 0.1s;
        background-color: #ABFF00;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;  
    }
    
    .cuadradoOn {
        width:  4.5rem;
        height: 4.5rem;
        transition: all 0.1s;
        background-color: #ABFF00;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;    
    }
    
    .cuadradoError {
        width:  100px;
        height: 100px;
        transition: all 0.1s;
        background-color: #ff0000;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #2d0602 0 -1px 9px, #ff0000 0 2px 12px;    
    }    
}